@charset "UTF-8";

body {
  background-color: rgb(70, 142, 236);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.34);
  margin: auto;
  padding: 15px;
  width: 500px;
}

div {
  padding: 8px;
  text-align: center;
}

#foto {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

footer {
  color: white;
  font-style: italic;
  text-align: center;
}